<!doctype html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Optimiseres | {% block title %}{% endblock title %}</title>

    <meta name="title" content="Optimiseres - Your Amazon Growth Partner">
    <meta name="description" content="Elevate your Amazon business with Optimiseres, a global Amazon Account Management service provider offering personalized, 360° solutions for product launches, listing optimization, operations, and ad management.">
    <meta name="keywords" content="Amazon account management, Amazon growth, personalized Amazon strategies, product launch, listing SEO, operations support, PPC management, Amazon marketing, seller support">
  
    <meta property="og:image" content="https://cdn-icons-png.flaticon.com/512/17248/17248069.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.optimiseres.com/">
    <meta property="og:title" content="Optimiseres - Your Amazon Growth Partner">
    <meta property="og:description" content="Elevate your Amazon business with Optimiseres, a global Amazon Account Management service provider offering personalized, 360° solutions for product launches, listing optimization, operations, and ad management.">
    <meta property="og:image" content="/static/images/favicon.png">
  
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://www.optimiseres.com/">
    <meta name="twitter:title" content="Optimiseres - Your Amazon Growth Partner">
    <meta name="twitter:description" content="Discover expert Amazon account management with Optimiseres. We provide data-driven strategies and comprehensive support to fuel your Amazon success.">
    <meta name="twitter:image" content="/static/images/favicon.png">
  

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">

    <!-- Android Chrome Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="/static/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/images/android-chrome-512x512.png">

    <!-- Web App Manifest -->
    <link rel="manifest" href="/static/images/site.webmanifest">


    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/styles/aos.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/custom.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body >

    <header id="header" class="header fixed-top">

        <div class="branding d-flex align-items-cente">

            <div class="container position-relative d-flex align-items-center justify-content-between pe-1">
                <a href="/" class="logo d-flex align-items-center">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <img src="/static/images/logo.png" alt="">
                    <h1 class="sitename"></h1>
                    <span>.</span>
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="/" class="active"><i class="bi bi-house me-1 fs-5"></i> Home<br></a></li>
                        <li><a href="/services/"><i class="bi bi-person-gear me-1 fs-5"></i> Services</a></li>
                        <li><a href="/pricing-plan/"><i class="bi bi-currency-rupee me-1 fs-5"></i> Pricing Plan</a></li>
                        <li><a href="/contact/"><i class="bi bi-telephone-forward me-1 fs-5"></i> Contact Us</a></li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>

            </div>

        </div>

    </header>

    <div class="container mt-5">

        {% block main %}
        {% endblock main %}
        
    </div>



    <footer id="footer" class="footer accent-background mt-3">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-about">
                <a href="/" class="logo d-flex align-items-center p-2">
                    <span class="sitename"><img style="transform: scale(1.3);" src="/static/images/logo.png" alt=""></span>
                </a>
                <p>Empowering growth with smart solutions. We blend strategy, creativity, and technology to elevate your brand in the digital marketplace.</p>

                <div class="social-links d-flex mt-4">
                    <a target="_blank" href=""><i class="bi bi-twitter-x"></i></a>
                    <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                    <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/company/optimiseres-e-conusltancy-private-ltd/"><i class="bi bi-linkedin"></i></a>
                </div>
                </div>
    
                <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services/">Services</a></li>
                    <li><a href="/pricing/">Pricing Plan</a></li>
                    <li><a href="/contact/">Contact Us</a></li>
                </ul>
                </div>
    
                <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="/services/#account_management">Account Management</a></li>
                    <li><a href="/services/#content_design">Content, Design & Listings</a></li>
                    <li><a href="/services/#data_reporting">Data Reporting</a></li>
                </ul>
                </div>
        
                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>1157, Sector-10, Panchkula, Haryana</p>
                <p>Panchkula, Haryana, India - 134109</p>
                <p>India</p>
                <p class="mt-4"><strong>Phone:</strong> <a href="tel:7259670592">+91 7259670592</a></p>
                <p><strong>Email:</strong> <span><a onclick="sendEmail()" role="button" class="__cf_email__" data-cfemail="f59c9b939ab5908d9498859990db969a98">[email&#160;protected]</a></span></p>
                </div>
    
            </div>
        </div>
    
              
        <div class="container copyright text-center">
            <div class="d-flex mb-5">
                <p class="me-auto">© <span>Copyright</span> <strong class="px-1 sitename">Optimiseres</strong> <span>All Rights
                    Reserved</span></p>
                <div class="text-center social-links">
                    <a role="button" onclick="shareSite()">
                    <i class="bi bi-share-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    
    </footer>
    
    <!-- Scroll Top -->
    <a href="#" style="z-index: 10;" id="scroll-top" class="scroll-top d-flex align-items-center shadow-lg justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <a role="button" data-aos="fade-up" onclick="shareSite()" class="share-to border shadow-lg d-flex align-items-center justify-content-center"><i class="bi bi-share-fill text-white"></i></a>
    
    <script src="/static/scripts/bootstrap.bundle.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <script src="/static/scripts/popper.min.js"></script>
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/comman.js"></script>

    <script>
         function sendEmail() {
            // Break the email into parts
            const user = 'contact_us';
            const domain = 'optimiseres.com';
            const mail = user + '@' + domain;
            
            // Redirect to mailto
            alert(mail)
            window.location.href = 'mailto:' + mail;
        }
    </script>

</body>

</html>