<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Optimiseres | {% block title %}{% endblock title %}</title>

    <meta name="title" content="Optimiseres - Your E-commerce Growth Partner">
    <meta name="description" content="Elevate your E-commerce business with Optimiseres, a global Amazon Account Management service provider offering personalized, 360° solutions for product launches, listing optimization, operations, and ad management.">
    <meta name="keywords" content="Amazon account management, Amazon growth, personalized Amazon strategies, product launch, listing SEO, operations support, PPC management, Amazon marketing, seller support">
  
    <meta property="og:image" content="/static/images/icons/logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.optimiseres.com/">
    <meta property="og:title" content="Optimiseres - Your E-commerce Growth Partner">
    <meta property="og:description" content="Elevate your Amazon business with Optimiseres, a global Amazon Account Management service provider offering personalized, 360° solutions for product launches, listing optimization, operations, and ad management.">
    <meta property="og:image" content="/static/images/favicon.png">
  
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="/static/images/icons/logo.png">
    <meta name="twitter:url" content="https://www.optimiseres.com/">
    <meta name="twitter:title" content="Optimiseres - Your E-commerce Growth Partner">
    <meta name="twitter:description" content="Discover expert Amazon account management with Optimiseres. We provide data-driven strategies and comprehensive support to fuel your Amazon success.">
    <meta name="twitter:image" content="/static/images/favicon.png">
  

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/icons/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/images/icons/favicon.ico">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.png">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/apple-touch-icon.png">

    <!-- Android Chrome Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="/static/images/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/images/icons/android-chrome-512x512.png">

    <!-- Web App Manifest -->
    <link rel="manifest" href="/static/images/site.webmanifest">


  <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles/aos.css">
  <link rel="stylesheet" href="/static/styles/glightbox.min.css">
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href="/static/styles/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/static/styles/custom.css">

</head>

<body>

    <header id="header" class="header fixed-top">
        <div class="branding d-flex align-items-cente">
            <div class="container position-relative d-flex align-items-center justify-content-between pe-1">
                <a href="/" class="logo d-flex align-items-center">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <img id="header_logo" src="/static/images/icons/logo.png" alt="">
                    <h1 class="sitename"></h1>
                    <span>.</span>
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a id="home_page"  href="/" ><i class="bi bi-house me-1 fs-5"></i> Home<br></a></li>
                        <li><a id="services_page" href="/services/"><i class="bi bi-building-gear me-1 fs-5"></i> Services</a></li>
                        <li><a id="clients_page"  href="/clients/"><i class="bi bi-people me-1 fs-5"></i> Our Clients</a></li>
                        <li><a id="contact_page"  href="/contact/"><i class="bi bi-telephone-forward me-1 fs-5"></i> Contact Us</a></li>
                        <li><a role="button" id="app_theme" onclick="changeTheme(this,true)"><i class="bi bi-toggle-off fs-4 quotes-words"></i><span class="quotes-words mx-1"><i class="bi bi-brightness-high fs-5"></i></span></a> </li>
                    </ul>
                    <i class="mobile-nav-toggle bi bi-list"></i>
                </nav>

            </div>
        </div>
    </header>

    <div class="main-box">

        {% block main %}
        {% endblock main %}
        
    </div>

    <footer id="footer" class="footer accent-background mt-3">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-about">
                <a href="/" class="logo d-flex align-items-center p-2">
                    <span class="sitename"><img style="transform: scale(1.3);" id="footer_logo" src="/static/images/icons/logo.png" alt=""></span>
                </a>
                <p>Empowering growth with smart solutions. We blend strategy, creativity, and technology to elevate your brand in the digital marketplace.</p>

                <div class="social-links d-flex mt-4">
                    <!-- <a target="_blank" href=""><i class="bi bi-twitter-x"></i></a>
                    <a target="_blank" href=""><i class="bi bi-facebook"></i></a>
                    <a target="_blank" href=""><i class="bi bi-instagram"></i></a> -->
                    <a target="_blank" href="https://www.linkedin.com/company/optimiseres-e-conusltancy-private-ltd/"><i class="bi bi-linkedin"></i></a>
                </div>
                </div>
    
                <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li class="quotes-words"><a href="/">Home</a></li>
                    <li class="quotes-words"><a href="/services/">Services</a></li>
                    <li class="quotes-words"><a href="/clients/">Our Clients</a></li>
                    <li class="quotes-words"><a href="/contact/">Contact Us</a></li>
                </ul>
                </div>
    
                <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li class="quotes-words"><a href="/services/#account_management">Account Management</a></li>
                    <li class="quotes-words"><a href="/services/#content_design">Content, Design & Listings</a></li>
                    <li class="quotes-words"><a href="/services/#data_reporting">Data Reporting</a></li>
                </ul>
                </div>
        
                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>1157, Sector-10, Panchkula, Haryana</p>
                <p>Panchkula, Haryana, India - 134109</p>
                <p>India</p>
                <p class="mt-4"><strong>Phone:</strong> <a href="tel:7259670592">+91 7259670592</a></p>
                <p><strong>Email:</strong> <span><a onclick="sendEmail()" role="button" class="__cf_email__" data-cfemail="f59c9b939ab5908d9498859990db969a98">[email&#160;protected]</a></span></p>
                </div>
    
            </div>
        </div>
              
        <div class="container copyright text-center">
            <div class="d-flex mb-5">
                <p class="me-auto">© <span>Copyright</span> <strong class="px-1 sitename">Optimiseres</strong> <span>All Rights
                    Reserved</span></p>
                <div class="text-center social-links">
                    
                </div>
            </div>
        </div>
    
    </footer>
    
    <!-- Scroll Top -->
    <a onclick="document.body.scrollIntoView({ block: 'top' });" role="button" style="z-index: 10;" id="scroll-top" class="scroll-top d-flex align-items-center shadow-lg justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <a role="button" data-aos="fade-up" onclick="shareSite()" class="share-to border shadow-lg d-flex align-items-center justify-content-center"><i class="bi bi-share-fill text-white"></i></a>
    
    <script src="/static/scripts/bootstrap.bundle.min.js"></script>
    <script src="/static/scripts/validate.js"></script>
    <script src="/static/scripts/aos.js"></script>
    <script src="/static/scripts/glightbox.min.js"></script>
    <script src="/static/scripts/swiper-bundle.min.js"></script>
    <script src="/static/scripts/purecounter_vanilla.js"></script>
    <script src="/static/scripts/imagesloaded.pkgd.min.js"></script>
    <script src="/static/scripts/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/comman.js"></script>
    
    <!-- Bootstrap & jQuery JS -->
    <!-- <script>
        if ('scrollRestoration' in history) {
          history.scrollRestoration = 'manual';
        }
    </script> -->
    
    <script>
        window.onload = ()=>{
            let theme = localStorage.getItem('theme') || 'light';
            toggleThemeBtn(theme)
            UpdateTheme(theme)

            let url = window.location.href
            if(url.includes('service')){
                document.getElementById('services_page').classList.add('active')
            }
            else if(url.includes('clients')){
                document.getElementById('clients_page').classList.add('active')
            }
            else if(url.includes("contact")){
                document.getElementById('contact_page').classList.add('active')
            }
            else{
                document.getElementById('home_page').classList.add('active')
            }
        }
        
        function sendEmail() {
            // Break the email into parts
            const user = 'contact_us';
            const domain = 'optimiseres.com';
            const mail = user + '@' + domain;
            
            // Redirect to mailto
            alert(mail)
            window.location.href = 'mailto:' + mail;
        }

        function changeTheme(target,theme_toggle=false) {
            let theme = localStorage.getItem('theme') || 'light';
            theme = (theme === "dark") ? "light" : "dark";

            toggleThemeBtn(theme)
            UpdateTheme(theme)
            
            localStorage.setItem("theme",theme);
        }

        function UpdateTheme(theme) {
            document.body.classList.remove("dark-background", "light-background");
            document.body.classList.add(`${theme}-background`);
        }
        
        function toggleThemeBtn(theme){
            target = document.getElementById("app_theme")
            if (theme == "dark") {
                target.innerHTML = `<i class="bi bi-toggle-on fs-4 quotes-words"></i><span class="quotes-words mx-1"> <i class="bi bi-moon-stars-fill fs-5"></i> </span>`
                document.getElementById('header_logo').src = '/static/images/icons/logo2.png'
                document.getElementById('footer_logo').src = '/static/images/icons/logo2.png'
            }
            else{
                target.innerHTML = ` <i class="bi bi-toggle-off quotes-words fs-4"></i> <span class="quotes-words mx-1"> <i class="bi bi-brightness-high fs-5"></i> </span>`
                document.getElementById('header_logo').src = '/static/images/icons/logo.png'
                document.getElementById('footer_logo').src = '/static/images/icons/logo.png'
            }
        }

        // Disable context menu for all images and videos
        document.addEventListener('DOMContentLoaded', function () {
            const elements = document.querySelectorAll('img, video');

            elements.forEach(element => {
            element.addEventListener('contextmenu', function (e) {
                e.preventDefault();
            });
            });
        });
    </script>

</body>

</html>