{% extends "base.html" %}
{% block title %}Contact{% endblock title %}

{% block main %} 
<style>
.card{
   height:100%;
   border-radius: 0%;
   border: 0px;
   background-color: transparent;
   padding: 15px;
   margin: 0px;
   overflow: hidden;
   transition: 0.5s;
}
.col-md-4{
   padding:0px;
}
.card img{
   width: 50%;
   margin: auto;
   transition: 0.5s;
}
.card:hover img{
   transform: scale(1.15);
}

</style>

<div class="container mt-5 pt-5 section-title" data-aos="fade-up">
   <h2>Our Clients</h2>
   <p>Proudly collaborating with leading brands across diverse industries.</p>
</div><!-- End Section Title -->

<div class="position-sticky clients-navigation" style="top: 80px;z-index: 10;" >
   <div class="d-flex flex-nowrap overflow-auto flex-row p-2">
      <a class="mx-3 btn-outline-warning btn btn-sm rounded-pill" style="min-width: 200px;" href="#home_decode">Home Decor</a>
      <a class="mx-3 btn-outline-warning btn btn-sm rounded-pill" style="min-width: 200px;" role="button" onclick="scrollElement('aparel_shoes')">Apparel & Shoes</a>
      <a class="mx-3 btn-outline-warning btn btn-sm rounded-pill" style="min-width: 200px;" role="button" onclick="scrollElement('watches')">Watches</a>
      <a class="mx-3 btn-outline-warning btn btn-sm rounded-pill" style="min-width: 200px;" role="button" onclick="scrollElement('jewelry')">Jewelry</a>
   </div>
</div>

<script>
   function scrollElement(id){
      const element = document.getElementById(id);
      element.scrollIntoView();
      element.scrollIntoView(false);
      element.scrollIntoView({ block: "end" });
      element.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
      console.log(element)
   }
</script>

<div class="container mt-5 pt-5" id="home_decode">
   <div class="my-3 p-0">
      <h2 class="p-0">Home Linen & Decor</h2>
   </div>
   <div class="col-md-12">
      <div class="row clients">
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Aabo_Rings.jpg" alt="Aabo Rings">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/Aevo.jpg" alt="Aevo">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/static/images/clients/Binca.jpg" alt="Binca">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Bolbom.jpg" alt="Bolbom">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/Cacao-FK.jpg" alt="Cacao-FK">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/static/images/clients/Cotton_Exchange.jpg" alt="Cotton Exchange">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Craftsworth.jpg" alt="Craftsworth">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/Crocon.jpg" alt="Crocon">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/static/images/clients/Dan_River-Sajid_Textiles.jpg" alt="Dan River-Sajid Textiles">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Fabdreams_US.jpg" alt="Fabdreams US">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/Fashionking_Brand.jpg" alt="Fashionking Brands Pvt. Ltd. (cotton king)">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/static/images/clients/Groww_Organics.jpg" alt="Groww Organics">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Happy_Wings.jpg" alt="Happy Wings">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/Indocount_IN.jpg" alt="Indocount IN">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/static/images/clients/Liberty_Zeno.jpg" alt="Liberty Zeno">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Metal_Magician.jpg" alt="Metal Magician">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/Nandan.jpg" alt="Nandan">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/static/images/clients/Ozone.jpg" alt="Ozone">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Pearl_Linen.jpg" alt="Pearl Linen">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/Pirate.jpg" alt="Pirate">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/static/images/clients/Purity_Home.jpg" alt="Purity Home">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Sneaker_Care.jpg" alt="Sneaker Care">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/Srinivasa_Textiles.jpg" alt="Srinivasa Textiles">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/static/images/clients/Supafuelz.jpg" alt="Supafuelz">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Supreme_Elegance.jpg" alt="Supreme Elegance">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/Taylor_and_Cirkus-AMZ.jpg" alt="Taylor and Cirkus-AMZ">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/static/images/clients/Tea_Leaf.jpg" alt="Tea Leaf">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Timex.jpg" alt="Timex">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/Upside.jpg" alt="Upside">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="/static/images/clients/Vinod_Cookware.jpg" alt="Vinod Cookware">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="/static/images/clients/Vintage_Vista.jpg" alt="Vintage Vista">
                </div>
            </div>
            
            <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="/static/images/clients/WHP.jpg" alt="WHP">
                </div>
            </div>
      </div>
      <div class="row clients d-none">
         <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300" >
            <div class="card">
               <img src="/static/images/clients/aabo.jpg" alt="">
            </div>
         </div>
         <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
               <img src="/static/images/clients/cottonking.png" alt="">
            </div>
         </div>
         <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
               <img src="/static/images/clients/cricus.jpg" alt="">
            </div>
         </div>
      </div>
      <div class="row clients d-none">
         <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
               <img src="/static/images/clients/decraft.png" alt="">
            </div>
         </div>
         <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
               <img src="/static/images/clients/guess.png" alt="">
            </div>
         </div>
         <div class="col-md-4 border" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
               <img src="/static/images/clients/cricus.jpg" alt="">
            </div>
         </div>
      </div>
   </div>
</div>


{% endblock main %}
