/* width */
body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.share-to {
    position: fixed !important;
    left: 10px !important;
    bottom: 10px;
    z-index: 99999;
    background-color: var(--conrast-color);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;

}