/* width */
body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb, var(--accent-color), white 30%);
}

.share-to,
.whatsapp-to {
    position: fixed !important;
    left: 10px !important;
    bottom: 10px;
    z-index: 9;
    background-color: #25d366;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: 0.6s;
    color: white;
    font-size: 20px;
}

.whatsapp-to {
    bottom: 60px;
    transition: 0.3s !important;
}

.box-shadow-sm {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#navmenu ul{
    height: fit-content;
}